#container{
    height: auto;
    color: rgb(236, 226, 226);
    background-color: rgb(31, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 50px;
    width: auto;
    margin: 0px;
    padding: 0px;
    background-color: rgb(131, 132, 190);
}

#center{
    height: auto;
    width: 1100px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    color: black;
    background-color: white;
    border: solid 1px black;
}

#footer{
    margin: 10px;
    margin-top: 200px;
    padding: 10px;
}

#php_img{
    height: 50px;
    width: auto;
    vertical-align: middle;
}

#search_bar{
    height: 5px;
    width: 250px;
    margin-left: 1100px;
    padding: 10px;
    resize: none;
    overflow: hidden;
    vertical-align: middle;
}

#directory{
    margin: 10px;
    padding: auto;
}

#prev{
    margin-left: 750px;
    margin-right: 50px;
}


#language_options{
    margin-left: 800px;
    display: inline-block;
}

#language_selector{
    height: auto;
    width: 150px;
}

#interact{
    margin-left: 800px;
    display: inline-block;
    vertical-align: middle;
}

#content_list{
    margin: 10px;
    padding: 5px;
    margin-left: 30px;
}

#note_add{
    margin-left: 950px;
}

#sidebar{
    height: auto;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.title{
    margin: 10px;
    padding: auto;
    display: inline-block;
}

.link{
    margin-right: 5px;
    padding: 5px;
    vertical-align: middle;
    color: white;
}

.paragraph{
    margin: 10px;
    padding: 5px;
}

.divider{
    margin: 5px;
}

.sidebar_obj{
    border-bottom: dotted 2px peru;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}